body{
color: #FFF; 
margin: 0 auto;
font : 80%/1.5em "calluna", Georgia, serif;
		a{ 
			 color: #000;
			 text-decoration: none;
		}
		span{ 
			color: #000; 
		}
		@include media($device_768) {
				}
		@include media($device_480) {
				}
		@include media($device_320) {
				}
}

.random a{
	float: left;
	margin-left: 10px;
}

.banner{
	    font-size: em(14);
		text-align: right;
		font-family: serif;
		margin: 0 auto;
		margin-bottom: 6px;
		padding: 5px;
		color: #000;
		padding-right: 30px;
		.c{
			color: #000;
			text-shadow:1px 1px #FFF;
			font-family: cursive;
		}
				@include media($device_768) {

				}
				@include media($device_480) {
					font-size: em(14);
				}
				@include media($device_320) {
					font-size: em(12);
				}
}

.wrapper{
	@include zen-clear(both);
	@include zen-grid-container;
	.content{
		@include zen-grid-item(8,2.6);
		font-size: em(16);
		color: #a80000;
				@include media($device_768) {
					@include zen-grid-item(12,1);
				}
				@include media($device_480) {
					@include zen-grid-item(12,1);
					font-size: em(14);
				}
				@include media($device_320) {
					@include zen-grid-item(12,1);
					font-size: em(12);
				}
		}
}

.heart{
	font-size: em(22);
	color: red;
}

.special , .work-title , .post-title{
	@include zen-clear(both);
	@include zen-grid-item(12,1);
	//background: #916691;
	padding: 10px;
	color: #B40E0E;
	margin-bottom: 15px;
	border-radius: 2px 2px 2px 2px;
	box-shadow: -6px 0px 1px #4D4F44;
	font-family: cursive;
	a{
		color: #4D4F44;
	}
}

.content-text{
	@include zen-clear(both);
	color: #898686;
	font-style: normal;
	font : 120%/1.5em verdana,arial,sans-serif;
	a{
		color: #4D4F44;
	}
	img{
		@include pad(10px 20px 10px 20px);
		height: 70%;
		width: 70%; 
		background: #F1F1F1;
		border: 1px double #DCDCDC;
	}
	.project-pic{
		float: left;
		width: 350px;
		height: 150px;
		margin-bottom: 20px;
		p{
			font-size: 12px;
		}
	}
	.sub-title{
		clear: both;
		text-transform: uppercase;
		font-style: normal;
		font-weight: 200;
		color: #000;
	}
}

.recent-blog-posts {
	@include zen-clear(both);
	margin: 0 auto;
	li {
		list-style: none;
	}
}

.post-text {
	@include zen-clear(both);
	color: #4D4F44;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #DADADA;
	a{	
		color: #40908F;
		padding-bottom: 5px;
		line-height: 25px;
	}
	.date{
		font-size: em(14);
		float: right;
	}
	.post-image{
		margin-right: 10px;
		border: 1px solid #DCDCDC;
		width: 10%;
		height: 10%; 
	}
	.post-img{
		float: right;
		border: 1px solid #DCDCDC;
		height: 15%;
		width: 15%;
	}
	.post-img-temp{
		float:left;
		margin:10px;
		height: 15%;
		width: 25%;
	}
	.post-footer{
		clear:both;
	}
}

.work-title{
	clear: both;
	font-family:Palatino Linotype;
	font-size: em(24);
	border-bottom: 1px solid #DCDCDC;
	padding-bottom: 10px;
	padding-top: 10px;
}

#fbcomments, .fb-comments, .fb-comments iframe[style], .fb-comments span {
width: 100% !important;
}

.code{
	padding: 10px;
	font-size: em(16);
	color: #480049;
	font-family: sans-serif;
	background: #FFF;
	border: 2px solid #DCDCDC;
}

.post-social-buttons{
	@include zen-clear(both);
	text-align: center;
	background: #F1F1F1;
	border: 1px solid #DCDCDC;	
	margin-bottom: 5px;
	padding: 10px;
	.fb-like{
		padding: 5px;
	}
}
