body{
color: #444444; 
margin: 0 auto;
font : 80%/1.5em "calluna", Georgia, serif;
		a{
			 color: #000;
			 text-decoration: none;
		}
		span{
			color: #000; 
		}
		@include media($device_768) {
				}
		@include media($device_480) {
					background: #FFF;
				}
		@include media($device_320) {
					background: #FFF;
				}
}

.random a{
	font-size: em(32);
	color: #FFEB95;
	text-shadow:2px 4px #000;
	font-family: cursive;
	float: left;
	margin-left: 10px;
}

.banner{
		text-shadow:1px 1px #777575;
		text-align: right;
		color: #FFF;
		font-family: serif;
		background: #222222;
		margin: 0 auto;
		margin-bottom: 6px;
		padding: 5px;
		font-size: em(16);
		text-shadow:2px 4px #000;
		font-family: cursive;
		color: #FFF;
		padding-right: 30px;
		.c{
			font-size: em(21);
			color: #FFEB95;
			text-shadow:2px 4px #000;
			font-family: cursive;
		}
				@include media($device_768) {
					display: none;
				}
				@include media($device_480) {
					display: none;
				}
				@include media($device_320) {
					display: none;
				}
}

.wrapper{
	@include zen-clear(both);
	@include zen-grid-container;
	.content{
		@include zen-grid-item(8,2.6);
		padding: em(20);
		font-size: em(16);
		color: #a80000;
				@include media($device_768) {
					@include zen-grid-item(12,1);
				}
				@include media($device_480) {
					@include zen-grid-item(12,1);
					font-size: em(14);
				}
				@include media($device_320) {
					@include zen-grid-item(12,1);
					font-size: em(12);
				}
		}
}

.heart{
	font-size: em(22);
	color: red;
}

.special , .work-title , .post-title{
	@include zen-clear(both);
	@include zen-grid-item(12,1);
	background: #916691;
	padding: 10px;
	color: #FFF;
	margin-bottom: 15px;
	border-radius: 2px 2px 2px 2px;
	box-shadow: -6px 6px 1px #DCDCDC;
	font-family: cursive;
	a{
		font-size: em(20);
		color: #FFF;
	}
}

.content-text{
	@include zen-clear(both);
	color: #898686;
	font-style: normal;
	font : 120%/1.5em verdana,arial,sans-serif;
	a{
		color: #FF0000;
	}
	img{
		@include pad(10px 20px 10px 20px);
		height: 70%;
		width: 70%; 
		background: #F1F1F1;
		border: 1px double #DCDCDC;
	}
	.project-pic{
		float: left;
		width: 350px;
		height: 150px;
		margin-bottom: 20px;
		p{
			font-size: 12px;
		}
	}
	.sub-title{
		clear: both;
		text-transform: uppercase;
		font-style: normal;
		font-weight: 200;
		color: #000;
	}
}

.recent-blog-posts {
	@include zen-clear(both);
	margin: 0 auto;
	li {
		list-style: none;
	}
}

.post-text {
	@include zen-clear(both);
	background: #F1F1F1;
	padding: 25px;
	margin-bottom: 10px;
	border: 1px solid #DCDCDC;
	a{	
		border-bottom: 1px solid #DCDCDC;
		color: #40908F;
		font-size: em(20);
		padding-bottom: 5px;
	}
	.date{
		font-size: em(14);
		float: right;
	}
}

.work-title{
	clear: both;
	font-family:Palatino Linotype;
	font-size: em(24);
	border-bottom: 1px solid #DCDCDC;
	padding-bottom: 10px;
	padding-top: 10px;
}

#fbcomments, .fb-comments, .fb-comments iframe[style], .fb-comments span {
width: 100% !important;
}

.code{
	padding: 10px;
	font-size: em(16);
	color: #480049;
	font-family: sans-serif;
	background: #FFF;
	border: 2px solid #DCDCDC;
}