body{
@include linear-gradient(to right , #F1F1F1, #FFF);
color: #444444;
margin: 0 auto;
font : 80%/1.5em "calluna", Georgia, serif;
		a{
			 color: #000;
			 text-decoration: none;
		}
		span{
			color: #000;
		}
}

.wrapper{
	@include zen-grid-container;
	.content{
		@include zen-grid-item(8,3);
		padding: 20px;
		font-size: em(16);
		color: #a80000;
		}
}

.designer,.coder{
	@include zen-clear(both);
	@include zen-grid-item(12,1);
	background: #40908F;
	padding: 10px;
	color: #FFF;
	margin-bottom: 15px;
	border-radius: 2px 2px 2px 2px;
	box-shadow: -6px 6px 1px #DCDCDC;
	font-family: cursive;
}

.end-content{
	@include zen-clear(both);
	a{
		color: #FF0000;
	}
}

.heart{
	font-size: em(22);
	color: red;
}

.footer-code{
	color:#a80000;
}

