.bottomWrapper{
@include zen-clear(both);
@include zen-grid-container;
background: #F1F1F1;
border-top: 2px double #DCDCDC;
margin-top: 5px;
text-align: center;
font-size: em(12);
	footer{
	@include zen-grid-item(8,3);
		span{
			color: #0174DF;
		}
		.gitSource{
			background: url('../assets/github_icon.png') no-repeat;
			padding-left: 20px;
			padding-bottom: 20px;
			color: red;
		}
				@include media($device_768) {
					
				}
				@include media($device_480) {
					@include zen-grid-item(12,1);
				}
				@include media($device_320) {
					@include zen-grid-item(12,1);
				}
	}
}

.footer-code{
	color:#a80000;
}
