.topWrapper{
	@include zen-grid-container;
	.header{
		@include zen-grid-item(8,2.6); 
		float: none;
				@include media($device_768) {
					text-align: center;
					@include zen-grid-item(12,1)
				}
				@include media($device_480) {
					text-align: center;
					@include zen-grid-item(12,1); 
				}
		.title{
			padding-top: 20px; 
			margin: 10px;
			font-size: em(20);
			color: #FFEB95;
			text-shadow:2px 2px #F1F1F1;
			a{
					font-size: em(20);
					color: #000;
					text-shadow:2px 2px #F1F1F1;
					@include media($device_768) {
						@include zen-grid-item(12,1);
						margin: 10px;
					}
					@include media($device_480) {
						@include zen-clear(both);
						@include zen-grid-item(12,1);
						margin: 10px;
						font-size: em(18);
					}
					@include media($device_320) {
						@include zen-clear(both);
						@include zen-grid-item(12,1);
						margin: 10px;
						font-size: em(18);
					}
   			}
   			.k{
   				font-size: em(22);
   				color: #480049;
   			}
   				@include media($device_480) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
					font-size: em(14);

				}
				@include media($device_320) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
					font-size: em(12);
				}
		}
		.admin-pic{
				margin-top: -20px;
				float: left;
				margin-right: 25px;
				border-radius: 0px 86px 0px 86px;
  				box-shadow: -8px 1px 6px #DCDCDC;
				@include transform(rotate(-45deg));
				@include transition (all .6s linear);
				&:hover{
					@include transform(rotate(0deg));
					@include transition (all .6s linear);
				}
				@include media($device_1024) {
					border-radius: 0px 46px 0px 46px;
				}
				@include media($device_768) {
					border-radius: 0px 46px 0px 46px;
					float: none;
					margin: 0 auto;
				}
				@include media($device_480) {
					border-radius: 0px 46px 0px 46px;
					float: none;
					margin: 0 auto;
				}
				@include media($device_320) {
					border-radius: 0px 36px 0px 36px;
					float: none;
					margin: 0 auto;
				}
		}
		.social-sharing{
			margin: 10px;
				@include media($device_768) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
				}
				@include media($device_480) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
				}
				@include media($device_320) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
				}
		}
	}
}
