.topWrapper{ 
	@include zen-grid-container;
	.header{
		@include zen-clear(both);
		@include zen-grid-item(8,2.6);
				@include media($device_768) {

				}
				@include media($device_480) {
				}
		.title{
			margin: 10px;
			font-size: em(21);
			color: #FFEB95;
			text-shadow:2px 2px #F1F1F1;
			font-family: cursive;
			a{
					font-size: em(24);
					color: #000;
					text-shadow:2px 2px #F1F1F1;
   			}
   			.k{
   				font-size: em(23);
   				color: #480049;
   			}
   			@include media($device_480) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
					font-size: em(20);

				}
				@include media($device_320) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
					font-size: em(18);
				}
		}
		.admin-pic{
				background: url('../assets/kt_logo.jpg') no-repeat;
				position: center;
				height: 150px;
				width: 145px;
				float: left;
				margin-right: 25px;
  				border-radius: 86px;
				box-shadow: -8px 0px 6px #DCDCDC;
				@include transform(rotate(360deg));
				@include transition (all .3s linear);

				@include media($device_768) {
					display: block;
				}
				@include media($device_480) {
					display: block;
					float: none;
					margin: 10px;
				}
				@include media($device_320) {
					display: block;
					float: none;
					margin: 10px;
				}
		}
		.social-sharing{
			margin: 10px;
				@include media($device_768) {
				}
				@include media($device_480) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
				}
				@include media($device_320) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
				}
		}
	}
}
