.topWrapper{
	@include zen-grid-container;
	margin-bottom: em(10);
	.google-adsense{
			@include zen-grid-item(6.8,3.2); 
			text-align: center;
		.adsbygoogle{
		}
	}
	.header{
		text-align: center;
		@include zen-grid-item(8,2.6); 
		float: none;
				@include media($device_768) {
					text-align: center;
					@include zen-grid-item(12,1)
				}
				@include media($device_480) {
					text-align: center;
					@include zen-grid-item(12,1); 
				}
		.title{
			display: inline-block;
			span{
				display: inline-block;
				@include media($device_768) {
					display: inline-block;
				}
				@include media($device_480) {
					display: inline-block;
				}
				@include media($device_320) {
					display: inline-block;
				}
			}
			a{
				font-variant: small-caps;	
				display: inline-block;
				padding: 10px;
				font-size: em(22);
				color: #0F7337;
				border-radius: 50%;
			    -webkit-transition: -webkit-transform .8s ease-in-out;
			    transition: transform .8s ease-in-out;
					@include media($device_768) {
						@include zen-grid-item(12,1);
						margin: 10px;
						display: inline-block;
					}
					@include media($device_480) {
						@include zen-clear(both);
						@include zen-grid-item(12,1);
						padding: 0px;
						margin: 0 auto;
						font-size: em(18);
						display: inline-block;
					}
					@include media($device_320) {
						@include zen-clear(both);
						@include zen-grid-item(12,1);
						padding: 0px;
						margin: 0 auto;
						font-size: em(18);
						display: inline-block;
					}
   			}
   			#random_href{
   				font-size: em(28);
				@include media($device_768) {
					display: inline-block;
					margin-top: 10px;
					margin-bottom: 10px;
				}

				@include media($device_480) {
					display: inline-block;
					margin-top: 10px;
					margin-bottom: 10px;
				}

				@include media($device_320) {
					display: inline-block;
					margin-top: 10px;
					margin-bottom: 10px;
				}
   			}
   			#random_href:hover{
   				-webkit-transform: rotate(360deg);
  				transform: rotate(360deg);
   			}
   			.k{
   			}
   				@include media($device_480) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
					font-size: em(14);

				}
				@include media($device_320) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
					font-size: em(12);
				}
		}
		.admin-pic{
				@include transition (all .6s linear);
				&:hover{
					@include transition (all .6s linear);
					@include media($device_1024) {
					}
					@include media($device_768) {
					}
					@include media($device_480) {
					}
					@include media($device_320) {
					}
				}
				@include media($device_1024) {
				}
				@include media($device_768) {
					float: none;
					margin: 0 auto;
				}
				@include media($device_480) {
					float: none;
					margin: 0 auto;
				}
				@include media($device_320) {
					float: none;
					margin: 0 auto;
				}
		}
		.social-sharing:before,.social-sharing:after{
			//content: '';
			//color:#B40E0E;
		}
		.social-sharing{
			width:100%; 
			text-align:center; 
			border-bottom: 1px solid #B40E0E; 
			line-height:0.1em; 
			margin:10px 0 20px;
			padding: 10px;
			font-size: em(52);
			font-family: Helvetica, Arial, Sans-Serif;
			//border-bottom: 1px solid #B40E0E;
				a{
					background:#fff; padding:0 10px; 
					color: #B40E0E !important;
				}
				@include media($device_768) {
					@include zen-clear(both);
					@include zen-grid-item(12,1);
					font-size: em(42);
				}
				@include media($device_480) {
					@include zen-clear(both);
					margin: 0 auto;
					@include zen-grid-item(12,1);
					font-size: em(32);
				}
				@include media($device_320) {
					@include zen-clear(both);
					margin: 0 auto;
					@include zen-grid-item(12,1);
					font-size: em(32);
				}
		}
	}
}
