//Zen Components
$zen-gutter-width: 10px;
$zen-column-count: 12;

//BreakPoints
$device_1280 : max-width 1280px 12;
$device_1024 : max-width 1024px 12;
$device_768  : max-width 786px  12;
$device_480  : max-width 480px  12;
$device_320  : max-width 320px  12;
