<div class="bottomWrapper">

	<footer>
		<div class="contact">
			<p>
				<span>Jeykll</span> Framework is used in Development and 
				<span>SASS</span>
				for <span>Designing</span> this Website.
			</p>
			<p>
				<span>Zen-Grids</span> are the Supporting Pillars.</p>
			<p>
				Shared Repository <span>Powered by <a href="https://github.com/nishantmendiratta/nishantmendiratta.github.io" class="gitSource" target="_blank">Git.</a></span>
			</p>
			<div class="footer-code"> 
				WHILE ( Knowledge-Thirsty )
				{
				 Website = Clone It ;
				 Website += Recreate It ;
				 Website += Share It ; 
				}
			</div>

		</div>
	</footer>

</div> <!--/bottomWrapper-->