<!DOCTYPE html>
<html>
<head>
	
	{% include header/meta.html %}

    <script>
      var posts = [];
      {% for post in site.categories.blog %}
      posts.push("{{ post.url }}");
      {% endfor %}  
    </script>

    <script>
      var quotes = [];
      {% for quotes in site.categories.quotes %}
      quotes.push("{{ quotes.excerpt }}");
      {% endfor %}  
    </script>

</head>
<body>

<!--fb-comment-->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=129789487161061";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<!--fb-comment-end-->

<div class="banner">
  
           <span class="c">
             <script>
              document.write(quotes[Math.floor(Math.random() * quotes.length)]);
            </script>
           </span>
            - Random Quote
</div>

	{% include header/topWrapper.html %}
