<title>{% if page.meta.title %}{{ page.meta.title }}{% elsif page.title %}{{ page.title }}{% endif %}</title>

<meta charset="utf-8">

<meta name="description" content="{% if page.meta.description %}{{ page.meta.description }}{% else %}{{ page.excerpt }}{% endif %}" />

<meta name="keywords" content="{% if page.meta.keywords %}{{ page.meta.keywords }}{% endif %}" />

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

<meta name="apple-mobile-web-app-capable" content="yes">

<link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}//assets/github_icon.png">

<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/main.css" />

<link rel="stylesheet" href="..//css/main.css" />

<script type="text/javascript">
 function under_construction(){
 	alert("Website Under Construction !");
 }
</script>
