<div class="topWrapper"> 

  <div class="header">
	  
	  <div class="header_headings">

	  	<div class="social-sharing">
			<a href="https://twitter.com/MrMendiratta" class="" data-show-count="false">@MrMendiratta</a>
		</div><!--social-sharing-->

		<div class="title">
			 <script>
        		document.write("<a id='random_href' href=\"");
        		document.write(posts[Math.floor(Math.random() * posts.length)]);
        		document.write("\">");
        	</script>
				<div>&laquo;&reg;&raquo;</div>
					<!--<img src="..//assets/mrmendiratta.png" width="100%" class="admin-pic" alt="Random Post"/>-->        	
        	<script>
        		document.write("</a>");
    		 </script>
    		 
			<span><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></span>
			<span><a href="{{ site.url }}{{ site.baseurl }}/work">Work</a></span>
			<span><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></span>
			<span><a href="{{ site.url }}{{ site.baseurl }}/quotes">Quotes</a></span>

		</div><!--/title-->

	  </div> <!--/header_headings-->

	  <!--<div class="navigation" role="navigation">
	
			<span><a href="{{ site.url }}{{ site.baseurl }}">Home</a></span>
			<span><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></span>
			<span><a href="{{ site.url }}{{ site.baseurl }}/work">Work</a></span>
			<span><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></span>
			<span><a href="{{ site.url }}{{ site.baseurl }}/quotes">Quotes</a></span>

	  </div>--><!--/navigation-->

  </div> <!--/header-->

  	
  	<!--adsense-->
  	<!--<div class="google-adsense">
  	<div align="center">
  	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  	-->
	<!-- Banner -->
	<!--
	<ins class="adsbygoogle"
	     style="display:inline-block;width:728px;height:90px"
	     data-ad-client="ca-pub-8598466518107172"
	     data-ad-slot="3687842047"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	</div>
	</div>
  	-->
  	<!--/adsense-->
  	
</div> <!--/topWrapper-->