<div class="topWrapper"> 

  <div class="header">
	  
	  <div class="header_headings">

		<div class="title">
			<div class="admin-pic"></div>
			<a href="{{ site.url }}{{ site.baseurl }}">Knowledge-Thirsty Web-Developer !</a>
		</div><!--/title-->

		<div class="social-sharing">
			<a href="https://twitter.com/MrMendiratta" class="twitter-follow-button" data-show-count="false">Follow @MrMendiratta</a>
		</div><!--social-sharing-->

	  </div> <!--/header_headings-->

	  <nav role="navigation">
	  	<!--
		  <ul>
			<li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/work">Work</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/blog">Blog</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
		  </ul>
		-->
		  <ul>
			<li><a href="{{ site.url }}{{ site.baseurl }}">About</a></li>
			<li><a href="/work">Work</a></li>
			<li><a href="#" onClick="under_construction();">Blog</a></li>
			<li><a href="#" onClick="under_construction();">Contact</a></li>
		  </ul>

	  </nav><!--/navigation-->

  </div> <!--/header-->

</div> <!--/topWrapper-->