<div class="topWrapper"> 

  <div class="header">
	  
	  <div class="header_headings">
		<div class="title">
			 <script>
        		document.write("<a href=\"");
        		document.write(posts[Math.floor(Math.random() * posts.length)]);
        		document.write("\">");
        	</script>
        			<img src="..//assets/kt_logo.png" class="admin-pic" height="18%" width="18%" alt="Random Post"/>
        	<script>
        		document.write("</a>");
    		 </script>
    		 
			<a href="{{ site.url }}{{ site.baseurl }}"><span class="k">K</span>nowledge-<span class="k">T</span>hirsty ??</a>
		</div><!--/title-->

		<div class="social-sharing">
			<a href="https://twitter.com/MrMendiratta" class="twitter-follow-button" data-show-count="false">Follow @MrMendiratta</a>
		</div><!--social-sharing-->

	  </div> <!--/header_headings-->

	  <nav role="navigation">
	
		  <ul>
			<li><a href="{{ site.url }}{{ site.baseurl }}">Home</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/work">Work</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/quotes">Quotes</a></li>
		  </ul>

	  </nav><!--/navigation-->

  </div> <!--/header-->
  
</div> <!--/topWrapper-->